.container
  .form-wrapper.row.justify-content-center
    .form-container.col-md-6
      %h2.text-center.font-weight-bold カードの追加
      = form_with model: [@list, @card], local: true do |f|
        .field.form-group
          = f.label :カード
          %br/
          = f.text_field :memo, class:"form-control"
        .actions
          = f.submit "追加", class:"btn btn-primary"